In [1]:
import findspark
import pandas as pd
findspark.init('E:/spark-2.4.4-bin-hadoop2.7/')

In [2]:
findspark.find()

'E:/spark-2.4.4-bin-hadoop2.7/'

In [93]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import DataFrameWriter
spark = SparkSession.builder.appName('df_complex_comparison').getOrCreate()

In [80]:
df=spark.read.format("csv").option("header", "true").load("file:///C:/Users/hp/Desktop/Py/emp.csv")

In [81]:
df.show()

+---+------+---+
| id|  name|age|
+---+------+---+
| 1p|adrian| 12|
| 2g|  alan| 13|
| 3h|arsene| 13|
| 4r|  john| 12|
| 5f|  tuck| 14|
| 6v|  matt| 15|
| 7c| aloob| 16|
| 8b| klose| 10|
| 9a|  fikt| 11|
+---+------+---+

In [46]:
df.select(["name"]).show(3)

+------+
|  name|
+------+
|adrian|
|  alan|
|arsene|
+------+
only showing top 3 rows

In [86]:
import pyspark.sql.functions as f
df.select([f.col("name")]).show(3)
gdf=df.withColumn("name_new", f.concat(f.lit('"'),f.col("name"), f.lit('"')))

+------+
|  name|
+------+
|adrian|
|  alan|
|arsene|
+------+
only showing top 3 rows

In [88]:
kgdf=gdf.drop("name")

In [94]:
kgdf.withColumnRenamed("name_new","name")

DataFrame[id: string, age: string, name: string]

In [95]:
kgf=kgdf.write.mode('overwrite').option("delimiter", "|").csv("file:///C:/Users/hp/Desktop/Py/outputCSV")